@(flightForm : Form[Flight])
@import helper._
<html>

    <head>  
        <title>Create Flight</title>
    </head>
    <body>

        <h1>Create an airline</h1>
            @helper.form(action = routes.FlightController.save()){
            @helper.inputText(flightForm("id"))
            @helper.inputText(flightForm("airlineId"))
            @helper.inputText(flightForm("departureTime"))
            @helper.inputText(flightForm("arrivalTime"))
            @helper.inputText(flightForm("departureCity"))
            @helper.inputText(flightForm("arrivalCity"))
            @helper.inputText(flightForm("gateId"))
            <input type ="Submit" value="Create Flight">
        }

    </body>
</html>