@(flightForm : Form[Flight])
@import helper._
<html>

    <head>  
        <title>Create Flight</title>
    </head>
    <body>

        <h1>Create an airline</h1>
        @helper.form(action = routes.FlightController.save()){
            @helper.inputText(flightForm("Airline ID"))
            @helper.inputText(flightForm("Departure Time"))
            @helper.inputText(flightForm("Arrival Time"))
            @helper.inputText(flightForm("Departure City"))
            @helper.inputText(flightForm("Arrival City"))
            @helper.inputText(flightForm("Gate ID"))
            @helper.inputText(flightForm("FlightID"))
            <input type ="Submit" value="Create Flight">
        }

    </body>
</html>