@(aps : List[Flight])

<html>

    <head>
        <title>All Flights</title>
    </head>
    <body>

        <h1>All Flights</h1>

        @for(flight <- aps){
            <a href="#">@flight.id</a>
            <p> Airline ID: @flight.airlineId  </p>
            <p> Departure Time: @flight.departureTime  </p>
            <p> Arrival Time: @flight.arrivalTime  </p>
            <p> Departure City: @flight.departureCity  </p>
            <p> Arrival City: @flight.arrivalCity  </p>
            <p> Gate ID: @flight.gateId  </p>        }

    </body>
</html>