@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

    <div id="content" class="wrapper doc">
        <article>

            <h1>This is a Database Thing</h1>

            <p>
                Congration, you dun it.
            </p>

            <h3>Airline</h3>
            <ul>
                <li><a href="http://localhost:9000/airlines">Airline Table</a></li>
                <ul>
                    <li><a href="http://localhost:9000/airlines/create">Create Airline</a></li>
                </ul>
            </ul>
            <h3>Airport</h3>
            <ul>
                <li><a href="http://localhost:9000/airports">Airport Table</a></li>
                <ul>
                    <li><a href="http://localhost:9000/airports/create">Create Airport</a></li>
                </ul>
            </ul>
            <h3>Customer</h3>
            <ul>
                <li><a href="http://localhost:9000/customers">Customer Table</a></li>
                <ul>
                    <li><a href="http://localhost:9000/customers/create">Create Customer</a></li>
                </ul>
            </ul>
            <h3>Flight</h3>
            <ul>
                <li><a href="http://localhost:9000/flights">Flight Table</a></li>
                <ul>
                    <li><a href="http://localhost:9000/flights/create">Create Flight</a></li>
                </ul>
            </ul>
            <h3>Gate</h3>
            <ul>
                <li><a href="http://localhost:9000/gates">Gate Table</a></li>
                <ul>
                    <li><a href="http://localhost:9000/gates/create">Create Gate</a></li>
                </ul>
            </ul>

    </div>
}