@(aps : List[Airport])

<html>

    <head>
        <title>All Airports</title>
        <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;    
        }
        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }
        table#t01 tr:nth-child(odd) {
            background-color:#fff;
        }
    </style>
    </head>
    <body>

        <h1>All Airports</h1>



        <table style="width:100%">
            <tr> <b>
                <th>  Airport ID: </th>
                <th> Airport Name: </th>
                <th> Airport Location: </th>
            </b></tr>

        @for(airport <- aps){
        <tr>
            <td> <a href="#">@airport.id</a> </td>
            <td> <p> @airport.name</p> </td>
            <td> <p> @airport.location</p> </td>
        </tr>
        }


        </table>
    </body>
</html>