@(gateForm : Form[Gate])
@import helper._
<html>

    <head>
        <title>Create Gate</title>
    </head>
    <body>

        <h1>Create a gate</h1>
            @helper.form(action = routes.GateController.save()){
            @helper.inputText(gateForm("GateID"))
            @helper.inputText(gateForm("Terminal ID"))
            @helper.inputText(gateForm("AirlineID"))
            @helper.inputText(gateForm("Airport ID"))

            <input type ="Submit" value="Create Gate">
        }

    </body>
</html>